@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Kreon:wght@300&display=swap');

.slogan h1 {
    display: flex;
    justify-content: center;
}

.slogan strong {
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
}


.slogan {
    font-size: 200%;
    font-family: 'Kreon', serif;
    background-image: url('https://media.istockphoto.com/id/1296683269/photo/close-up-of-male-eye-with-round-hud-display.jpg?s=612x612&w=0&k=20&c=iUzhieSiL5zzP2Mxwo6DJ1CL--b-FHSqSkJIaiysJ0c=');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;
    height: 100%;
    padding: 15% 0%;
}

.location {
    display: list-item;
    justify-content: center;

}

.info {
    display: flex;
    justify-content: left;
    align-content: space-between;
}


.contact {
    background-color: #b8e1ff;
    padding: 10px;
}
