ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
    background-color: #e2f3ff;
}

li {
    display: flex;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
